header {
  .header-container {
    min-height: 120px;
    display: grid;
    grid-template-columns: 3fr 9fr;
    .icon {
      cursor: pointer;
      img {
        width: 1em;
        height: auto;
        object-fit: contain;
      }
    }
    .searchbar {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 40%;
      border: 1px solid gray;
      input {
        width: 94%;
        padding: 11px 14px;
        background-color: $background-color;
        border: 0;
        font-size: 14px;
        line-height: 1.429;
      }
    }
  }
}