.login {
  .header-container {
    text-align: center;
  }
  .credentials-container {
    .username, .password {
      display: flex;
      flex-direction: column;
    }
    label {
      width: fit-content;
    }
  }
}