.login {

  .login-content {
    margin: auto;
    padding: 60px 30px 30px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 2;
    border-radius: 15px;
    .header-container {
      text-align: center;
    }
    .credentials-container {
      button {
        width: 100%;
      }
    }
  }
}