.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  h1 {
    margin-bottom: 30px;
  }
  background: $background-color;
  .login-content {
    position: relative;
    padding-top: 40px;
    padding-left: 6vw;
    .username-container, .password-container {
      position: relative;
      margin-bottom: 32px;    
      label {
        position: absolute;
        left: 0;
        pointer-events: none;
        height: 100%;
        width: 100%;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: max(200px, 70%);
          border: 0 0 1px; // border width won't shrink
          border-width: 0.25px;
          border-color: gray;
          border-style: solid;
          transition: all 0.3s ease-out;
        }
      }
      span {
        position: absolute;
        width: 100%;
        transition: all 0.3s ease-out;
      }
      input {
        width: max(200px, 50%);
        background-color: transparent;
        border: 0px;
        outline: 0px;
        &::-ms-reveal {
          display: none;
        }
      }
      input:focus + label,
      input:valid + label {
        &::after {
          border-color: $highlight-primary;
        }
        span {
          font-size: 14px;
          color: $highlight-primary;
          transform: translateY(-20px);
        }
      }
    }
    .signup_or_login {
      display: flex;
      justify-content: space-between;
      a {
        align-self: end;
        cursor: pointer;
        color: $highlight-primary;
        text-decoration: none;
        &:hover {
          color: $highlight-primary-op7;
        }
      }
      button {
        // position: absolute;
        background-color: $highlight-primary-op7;
        // right: max(5%, 20px);
        margin-right: 10%;
        &:hover {
          color: white;
          background-color: $highlight-primary;
        }
      } 
    }
    
  }
  .login_image-container {
    background-image: url('../../../assets/login1.jpg');
    background-size: cover;
  }
}