body {
  input {
    width: 100%;
    border-radius: 5px;
    border-style:none;
  }
}

.alert {
  padding: 0.5rem 1rem !important;
}

.custom-alert {
  display: flex;
  justify-content: space-between;
  position: fixed !important;
  bottom: 0px;
  left: 50px;
  width: 70%;
  z-index: 3;
  .close_error {
    margin-bottom: 0px !important;
    cursor: pointer;
  }
}
// --[Attributes]-- //

.backdrop {
  backdrop-filter: blur(2px);
}
.max_width {
  width: 100%;
}

.space_between {
  justify-content: space-between;
}
.flex_right {
  display: flex !important;
  flex-direction: row-reverse;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

.margin_bottom {
  margin-bottom: 10px;
}

