// -- localVars -- //

$transition: 250ms ease-out;

.custom-navbar {
  height: $nav-height;
  font-size: 1rem;
  background-color: rgba(0,0,0,1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 2;
  div {
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: $nav-height;
    transition: background-color $transition;
    &:hover {
      background-color: $highlight-primary;
    }
    a {
      text-decoration: none;
      color: rgba(255,255,255, 1) !important;
      margin: auto;
    }
  }
  
}