<div class="search_main-container fill-content">
  <div class="search-filter fill-content">
    <div class="filter-header">
      <h3>Find A Recipe </h3>
      <h5 class="results-count">{{ results.length }} RECIPES</h5>
    </div>
    <hr>
    <div class="cat-checkboxes">
      <ul>
        <li *ngFor="let cat of categories; let i = index">
            <input 
              type="checkbox" 
              class="cat-checkbox" 
              id="cb_{{i}}"
              (change)="doIfChecked($event, cat['label'])"
            >
          <label for="cb_{{i}}">{{ cat['label'] }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="search-results">
    <h4>Search Results</h4>
    <div class="search-content">
      <div class="search-result" *ngFor="let recipe of results">
        <img src="{{ recipe.images[0] ?? '../assets/default_recipe.jpg'}}" alt="">
        <div class="result-info">
          <div class="result-title" hover-class>{{ recipe['title'] }}</div>
          <a class="result-author">@{{ recipe['author'] }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
