<div class="search_main-container">
  <div class="search-filter">
    <h2>Filter</h2>
    <div class="cat-checkboxes">
      <ul>
        <li *ngFor="let cat of categories; let i = index">
            <input 
              type="checkbox" 
              class="cat-checkbox" 
              id="cb_{{i}}"
              (change)="doIfChecked($event, cat['label'])"
            >
          <label for="cb_{{i}}">{{ cat['label'] }}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="search-results">
    <div class="search-searchbar">
      <h2>Search</h2>
      <input type="text" id="searchbar">
    </div>
    <div class="search-output">
      <h4>Search Results</h4>
      <div class="search-content">
        <div class="search-result" *ngFor="let recipe of results">
          <img src="" alt="">
          <a class="result-title" hover-class>{{ recipe['title'] }}</a>
          <a class="result-author">@{{ recipe['author'] }}</a>
          <span>{{ recipe['category'] }}</span>
        </div>
      </div>
    </div> 
  </div>
</div>
