<div class="login">
  <div class="row">
    <div class="col header-container">
      <h1>Login</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 credentials-container">
      <div class="username">
        <label for="username">Enter username: </label>
        <input type="text" id="username">
      </div>
      <br>
      <div class="password">
        <label for="password">Enter password: </label>
        <input type="password" id="password">
      </div>
    </div>
  </div>
 

</div>

