<div class="login fill-content">
  <div class="login-content">
    <h1>Sign In</h1>
    <br>
    <div class="username-container margin_bottom">
      <input type="text" name="username" required autofocus autocomplete="off" #username>
      <label for="username">
        <span class="un_span">
          Username
        </span>
      </label>

    </div>
    <div class="password-container margin_bottom">
      <input type="password" name="password" required #password>
      <label for="password">
        <span class="pw_span">
          Password
        </span>
      </label>
    </div>
    <br>
    <div class="signup_or_login">
      <a routerLink="/create-account">Don't have an account? Create one.</a>
      <button 
      type="button" 
      class="btn"
      (click)="onLoginClick(username.value, password.value)"
    >Login</button>
    </div>
  </div>
    
  <div class="login_image-container">

  </div>
</div>

