<div class="login">
  <div class="login-content">
    <div class="credentials-container">
      <div class="header-container">
        <h1>Sign In</h1>
      </div>
      <br>
      <div class="username-container margin_bottom">
        <input type="text" placeholder="Username" #username>
      </div>
      <div class="password-container margin_bottom">
        <input type="password" placeholder="Password" #password>
      </div>
      <br>
      <div class="button-container">
        <button 
          type="button" 
          class="btn btn-primary"
          (click)="onLoginClick(username.value, password.value)"
        >Login</button>
      </div>
    </div>
  </div>
</div>

