$px-to-rem-factor: 0.0625rem;

$background-color: #FFF;
$bg-darker: rgba(0,0,0, 0.2);
$bg-card: #CCC;
$font-color-card: rgba(0,0,0, 0.9);
$highlight-primary: rgb(0,138,255);
$highlight-primary-op7: rgba(0,138,255,0.7);
$highlight-secondary: #950015;
$text-color: rgba(0, 0, 0, 0.9);
$nav-height: 55px;

// --[BOOTSTRAP OVERRIDES]-- //

// --[colors]-- //
$primary: $highlight-primary;
$body-bg: $background-color;  
$body-color: $text-color;

// --[font defaults]-- //
$font-size-base: 18 * $px-to-rem-factor;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-weight-base: 100;
$font-weight-bold: 400;


// --[button]-- //
.btn {
  width: 120px;
}

.btn-primary {
  color: $text-color !important;
}
