$px-to-rem-factor: 0.0625rem;

$background-color: #2b2b2b;
$bg-darker: rgba(0,0,0, 0.2);
$bg-card: rgba(255,255,255, 1);
$font-color-card: rgba(0,0,0, 0.9);
$highlight-primary: #008aff;
$highlight-secondary: #950015;
$text-color: rgba(255, 255, 255, 0.9);
$nav-height: 3rem;

// --[BOOTSTRAP OVERRIDES]-- //

// --[colors]-- //
$primary: $highlight-primary;
$body-bg: $background-color;  
$body-color: $text-color;

// --[font defaults]-- //
$font-size-base: 18 * $px-to-rem-factor;
$font-family-sans-serif: "Nunito", sans-serif;
$font-weight-base: 100;
$font-weight-bold: 400;


// --[button]-- //
.btn {
  width: 120px;
}

.btn-primary {
  color: $text-color !important;
}
